@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: 300;
}

.main_page {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  margin: 2rem 0rem;
}

.main_text {
  /* border: 2px solid red; */
  text-align: center;
  font-size: 1.8rem;
  color: var(--gray);
}

strong {
  color: var(--very-dark-blue);
}

.subscribe_text {
  font-size: 1rem;
  padding: 1.5rem 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  /* border: 2px solid; */
  width: 80%;
  max-width: 500px;
  margin-bottom: 5rem;
}

.input_email,
.btn {
  border: 2px solid var(--pale-blue);
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 100px;
  outline: none;
  color: var(--very-dark-blue);
}

.input_email::placeholder {
  color: var(--pale-blue);
}

.input_container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error_message {
  color: var(--light-red);
  font-size: 14px;
  text-align: center;
}

.input_email.error {
  border: 1px solid var(--light-red);
  border-radius: 100px;
  font-style: italic;
}

.btn {
  border: none;
  background-color: var(--blue);
  color: white;
  box-shadow: 0px 5px 20px 0px hsla(223, 87%, 63%, 0.588);
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.illustration {
  width: 100%;
  max-width: 1000px;
  padding: 0em 2rem;
}

.footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer_logo {
  display: flex;
  gap: 1.5rem;
}

.footer_logo img {
  width: 40px;
  height: auto;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  padding: 0.5rem;
}

.footer_logo img:hover {
  background-color: var(--blue);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.copyright_info {
  font-size: 1.2rem;
  color: var(--gray);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main_text {
    font-size: 3.5rem;
  }
  .subscribe_text {
    font-size: 1.2rem;
  }

  .input_email {
    width: 300%;
    max-width: 500px;
  }

  .form {
    flex-direction: row;
    gap: 1rem;
    /* border: 2px solid red; */
    width: 100%;
    max-width: 770px;
  }
}
